<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- PC LABURO -->
		<!--<add name="ConnectionString" connectionString="Data Source=NBK-P-SWILLIAMS\SQLEXPRESS;Initial Catalog=CarneAlGancho;Integrated Security=True"/>-->
		<!-- PC PERSONAL -->
		<add name="ConnectionString" connectionString="Data Source=DESKTOP-VV64FV7\SQLEXPRESS;Initial Catalog=CarneAlGancho;Integrated Security=True"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>